@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;

    .content {
        aspect-ratio: 500 / 751;
        width: 100%;
        background: url('../../assets/images/hero_bg.png') no-repeat center / 98%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        color: $secondary-color;
        padding-top: 28%;
        position: relative;

        .savethedate,
        .date {
            font-size: 12.3px;
            text-transform: uppercase;
            font-family: $font-Qerginas;
            letter-spacing: 2px;
            font-weight: 600;
        }

        .couple-name {
            font-family: $font-MTDPortrait;
            font-size: 31px;
            margin: 5% 0;
        }

        .hero-img {
            width: 100%;

            img {
                position: absolute;
                bottom: 15%;
                left: 50%;
                transform: translateX(-50%);
                max-width: 440px;
            }
        }

        @media (max-width: 500px) {

            .savethedate,
            .date {
                font-size: calc((12.3 / 500) * 100vw);
                letter-spacing: calc((2 / 500) * 100vw);
            }

            .couple-name {
                font-size: calc((31 / 500) * 100vw);
            }

            .hero-img {
                img {
                    max-width: calc((440 / 500) * 100vw);
                }
            }
        }
    }
}